html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	background: url('../img/yellow.png');
	text-align: center;
	color: #1a2930;
	font-family: "Jura", sans-serif;
	padding: 0;
	margin: 0;
	margin-bottom: 25px; /* Margin bottom by footer height */
}

h1 {
	font-family: "Lilita One", cursive;
	font-size: calc(20px + 3vw);
	margin-bottom: 0;
	margin-top: 15px;
}

h3 {
	font-size: calc(14px + 0.6vw);
}

.container {
	display: flex;
	max-width: 550px;
	width: 85vw;
	margin: auto;
	align-items: center;
	flex-wrap: wrap;
}

.select-deck {
	border-radius: 6px;
	padding: 4px 2px;
	width: 100%;
	margin-bottom: 0;
	background-color: #d3cecf;
	display: flex;
	justify-content: center;
	align-items: center;
}

.selected {
	border-bottom: #1a2930 solid 2px;
}

.select-deck > i {
	font-size: 1.25em;
	padding: 4px 4px;
}

.panel-item {
	float: left;
	width: 25%;
	font-size: calc(14px + 0.6vw);
}

.time,
.star,
.moves-h {
	width: 30%;
}

.reset {
	width: 10%;
}

.clickable:hover {
	cursor: pointer;
	border-bottom: #1a2930 solid 2px;
}

.deck {
	flex-wrap: wrap;
	background-color: #d3cecf;
	border-radius: 8px;
	justify-content: space-between;
	max-height: 550px;
	height: 85vw;
	padding: 10px;
}

.card {
	float: left;
	width: 24%;
	height: 24%;
	max-height: 120px;
	max-width: 120px;
	font-size: calc(12px + 0.5vw);
	border-radius: 6px;
	background-color: #243B47;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: "Jura", sans-serif;
	transition: transform 0.5s, background-color 1.5s;
}

.card.open {
	background-color: #4F86A8;
	/*background-color: white;*/
	/*color: black;*/
	-webkit-transform: rotateY(180deg); /* Safari */
	transform: rotateY(180deg);
}

.card-text {
	visibility: hidden;
	transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
}

.card-icon {
	visibility: hidden;
	font-size: 2em;
}

.mirror {
	visibility: visible;
}

.card.matched {
	background-color: #0a1612;

}

.fastest {
	display: none;
}

.fastest.show {
	display: block;
	padding: 8px;
}


footer {
	background-color: #0a1612;
	color: white;
	font-size: 11px;
	width: 100%;
	position: fixed;
	bottom: 0;
	height: 25px; /* Set the fixed height of the footer */
	line-height: 25px; /* Vertically center the text */
}

.win-modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 10%;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto; /* Enable scroll if needed */
	background-color: black; /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.win-modal.show {
	display: block;
}

.modal-content {
	position: relative;
	background-color: #fefefe;
	margin: auto;
	border: 1px solid #888;
	width: 80%;
	max-width: 500px;
}

.modal-button:hover,
.modal-button:focus {
	text-decoration: none;
	cursor: pointer;
}

.modal-header {
	padding: 4px;
	background-color: #0a1612;
	color: white;
}

.modal-body {
	padding: 4px;
}

.modal-button {
	background-color: #0a1612;
	color: white;
	min-height: 48px;
	min-width: 48px;
	padding: 1.5em;
}

@media only screen and (min-width: 600px) {
	.time,
	.star,
	.moves-h,
	.reset {
		width: 25%;
	}

	.select-deck > i {
		padding: 4px 10px;
	}
}

@media only screen and (min-width: 1200px) {
	h3 {
		margin: 10px 0;
	}
	.deck {
		height: 60vh;
		padding: 10px;
	}
}