html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	background: url('../img/yellow.png');
	text-align: center;
	color: #1A2930;
	font-family: 'Jura', sans-serif;
}

h1 {
	font-family: 'Lilita One', cursive;
	font-size: calc(20px + 3vw);
}

h2 {
	font-size: 40px;
}

.container {
	display: flex;
	max-width: 500px;
	width: 85%;
	margin: auto;
	align-items: center;
}

.panel-ietm {
	float: left;
	width: 25%;
}
.deck {
	flex-wrap: wrap;
	background-color: #D3CECF;
	border-radius: 6px;
	justify-content: space-between;
}

.card {
	float: left;
	width: 100px;
	height: 100px;
	border-radius: 6px;
	background-color: #1A2930;
	color: white;
	margin: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Jura', sans-serif;
	font-size: 0;
	transition: font-size 1s, transform 1.5s, background-color 2s;
}

.card.open {
	font-size: calc(12px + 0.5vw);
	background-color: #406C84;
	-webkit-transform: rotateY(180deg); /* Safari */
	transform: rotateY(180deg);

}
.mirror {
	transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
}

.card.matched {
	background-color: #0A1612;
}

.panel-ietm {
	font-size:calc(16px + 0.5vw);
}

/*Modal styling*/
.win-modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 10%; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.win-modal.show {
	display: block;
}

/* Modal Content */
.modal-content {
	position: relative;
	background-color: #fefefe;
	margin: auto;
	border: 1px solid #888;
	width: 80%;
	max-width: 500px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.modal-button:hover,
.modal-button:focus {
	text-decoration: none;
	cursor: pointer;
}

.modal-header {
	padding: 4px;
	background-color: #0A1612;
	color: white;
}

.modal-body {
	padding: 4px;
}

.modal-button {
	background-color: #0A1612;
	color: white;
	min-height: 48px;
	min-width:  48px;
	padding: 1.5em;
}